<!DOCTYPE html>
<html style="background: rgba(0,0,0,0)">

<head>
    <meta charset=" UTF-8 ">
    <title>Transparent Window</title>
</head>

<body style="background: rgba(0,0,0,0)">
    <div></div>
    <script>
        var app = require('electron').remote;

        // Close app 
        document.getElementById("close ").addEventListener("click ", () => {
            app.BrowserWindow.getFocusedWindow().close();
        }, false);

        // Close app 
        document.getElementById("devtools ").addEventListener("click ", () => {
            app.BrowserWindow.getFocusedWindow().openDevTools();
        }, false);   
    </script>
</body>

</html>